.txt {
    font-family: "Cormorant Garand", serif;  
}

.about {
    padding: 1rem 1rem;
    background-image: url("../../public/images/seigaiha.webp");
    height: 100%;
    text-align: center;
}

.about-me {
    font-size: 2rem;
} 

.icon {
    width: 18%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bio {
    padding: 0.7rem 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2;
}

@media screen and (min-width:700px) {
    .about {
        padding: 3rem 3rem;
        text-align: center;
    }

    .bio {
        padding: 1rem 15rem;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 2;
    }
}