* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button_background: #000;
    --button_text: #FFF;
    --text_color: #000;
    --background_color: #FFF;
    --link_color: #847f7f;
    --line_color: #3c3a3a;
  }
  
  [data-theme = "dark"] {
    --button_background: #000;
    --button_text: #FFF;
    --text_color: #000;
    --background_color: #FFF;
    --link_color: #b3b3b3;
    --line_color: #ffffff;

  }


.linkk {
    /* background-color: blue; */
    width: 10%;
}


.logo {
    width: 120%;
    color: var(--button_text);
    background-image: url("../public/images/NG-3.png");

}

/* path {
    fill: #FFF;
} */

.nav-head {
    position:static;
    top:0;
    z-index: +1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #1b2430; */
    background: var(--background_color);
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06); 
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px; 
    position: relative;
}

#navbar li a{
    font-family: "Cormorant Garand", serif;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--link_color);
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
    color: var(--text_color);
}

#navbar li a:hover::after,
#navbar li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    /* background: #17cf97; */
    background: var(--line_color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#mobile i {
    color: var(--text_white);
    align-items: center;
}

@media screen and (max-width: 900px) {

    .logo {
        width: 135%;
    }

    #navbar {
        z-index: +2;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 150px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: var(--background_color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 30px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
        color: var(--text_color);
    }
}