:root {
  --button_background: #000;
  --button_text: #FFF;
  --text_color: #000;
  --background_color: #FFF;
  --background_image: url("../public/images/seigaiha.webp");
}

[data-theme = "dark"] {
  --button_background: #FFF;
  --button_text: #000;
  --text_color: #FFF;
  --background_color: #000;
  --background_image: url("../public/images/connectwork.webp");
}

* {
  transition: all 0.3s ease-in-out;
}

.total {
  background-image: var(--background_image);
}

.landing {
    display: flex;
    flex-direction: column;
    /* background-image: url("../public/images/seigaiha.webp"); */
    /* background-image: var(--background_image); */
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    row-gap: 1rem;
}

/* .projects-btn {
    cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: "Cormorant Garand", serif;
    color: #000;
    font-size: 20px;
    background: #e0e0e0;
    padding: 10px 20px 10px 20px;
    border: solid #000 2px;
    text-decoration: none;
    transition: 0.3s;

  }
  
  .projects-btn:hover {
    transition: 0.3s;
    background: #333333;
    text-decoration: none;
    color: #FFF;
  } */

  .projects-btn {
    /* box-shadow: inset 0px -3px 7px 0px #29bbff; */
    background: var(--button_background);
    /* background-color: #2dabf9; */
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: var(--button_text);
    font-family: "Cormorant Garand", serif;
    font-size: 1.3rem;
    padding: 9px 23px;
    text-decoration: none;
      transition: 0.5s;
    /* text-shadow:0px 1px 0px #263666; */
  }
  .projects-btn:hover {
    background: var(--background_color);
    transition: 0.5s;
    color: var(--text_color);
    /* background-color:#0688fa; */
  }
  .projects-btn:active {
    position:relative;
    top:1px;
  }